/.idea/dics_xal.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/test/
/backend/app/test.py
/backend/app/test2.py
/backend/app/test_etc.py


# dependencies
/frontend/node_modules
/frontend/pnp
/frontend/pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/vscode
/frontend/DS_Store
/frontend/env.local
/frontend/env.development.local
/frontend/env.test.local
/frontend/env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
